<header>
    <nav>
        <a href="/">Movies</a>
        <ul>
            <li><a href="/directors">Directors</a></li>
            <li><a href="/directors/new">New Directors</a></li>
        </ul>
    </nav>
</header>
