<h2>Edit Director</h2>

<form action="/directors/<%= director.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <div class="form-row btn-row form-row-end"> 
    <button class="btn btn-primary" type="submit">Update</button>
    <a class="btn btn-danger" href="/directors">Cancel</a>
    </div>
</form>
