<h2>New Director</h2>

<form action="/directors" method="POST">
    <%- include('_form_fields') %>
    <div class="form-row btn-row form-row-end">
    <button class="btn tbn-primary" type="submit">Create</button>
    <a class="btn btn-danger" href="/directors">Cancel</a>
    </div>

</form>
