<h2>New Movie</h2>
<form action="/movies" method="POST">
    <%- include('_form_fields') %>

    <div class="form-row form-row-end btn-row">
    <button class="btn btn-primary" type="submit">Create</button>
    <a class="btn btn-danger" href="/movies">Cancel</a>
    </div>
</form>
